@import url('style-general.css');


.container-fan-experiencie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 10rem; 
    height: 100vh;
}

.text-experience h2{
    font-family:var(--titulos);
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 30px;
}

.text-experience p{
    font-family: var(--parrafos);
    line-height: 2rem;
}


@media (max-width:768px){

    .container-fan-experiencie{
        height: auto;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .text-experience h2{
        text-align: center;
    }

    .text-experience p{
        width: 90%;
        margin: auto;
        text-align: justify;
    }

    .img-experience-2 img{
        width: 350px;
    }

    .experience-hr{
       display: none;
    }

}