@import url('style-general.css');

.text-footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
}

.text-footer h3{
    color: var(--gris);
    font-family: var(--titulos);
    font-size: 50px;
}

.text-footer a{
    text-decoration: var(--gris);
}

.background-footer{
    height: 100vh;
    background-image: url('../src/background-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@media(max-width:768px) {
    .text-footer h3{
        text-align: center;
        font-size: 25px;
        height: 50px;
    }
}


