@import url("style-general.css");

.section-history {
  background-color: var(--azul);
  padding-top: 250px;
  overflow: hidden;
}
.text-history {
  width: 90%;
  margin: auto;
  text-align: center;
}

.text-history h2 {
  font-family: var(--titulos);
  color: var(--gris);
  margin-bottom: 20px;
}

.text-history h3 {
  font-family: var(--titulos);
  font-size: 50px;
  color: var(--gris);
  font-weight: 100;
  margin-bottom: 20px;
}

.text-history p {
  color: var(--gris);
  width: 80%;
  font-size: 16px;
  font-family: var(--parrafos);
  line-height: 1.5rem;
  text-align: justify;
  margin: auto;
}

.img-history {
  margin-top: 50px;
}

.img-guys {
  border-radius: 20px;
}

.container-img-story {
  display: flex;
  justify-content: center;
  align-items: end;
}

.history-img-1 {
  width: 422px;
}

.agave {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .section-history {
    height: auto;
    padding-top: 50px;
  }

  .text-history {
    width: 90%;
  }

  .text-history p {
    text-align: justify;
    line-height: 30px;
    width: 100%;
  }

  .text-history h3 {
    font-size: 35px;
  }
  .container-img-story {
    display: inline-block;
  }

  .container-img-story img {
    width: 370px;
  }

  .img-guys {
    display: none;
  }
}
