@import url('style-general.css');
.nav{
    position: fixed;
    width: 100%;
    z-index: 200;
}
nav {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease-in-out;


}

.nav-scrolled{
    transition: .2 ease-in-out;
    background-color: var(--gris);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}

.menu-right{
    display: flex;
    justify-content: flex-end;
}

.menu-social  {
    display: flex;
    align-items: center;
}

.menu-social li {
    list-style: none;
    margin-right: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    font-family:var(--titulos);
    font-size:1rem;
}

.animated{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    gap: 1rem;
    cursor: pointer;
}

.menu-nav{
    background-color: black;
    height: 1.5px;
    width: 100%;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    transform-origin: left; 
}

.animated:hover .menu-nav:first-child{
    transform: rotate(45deg);
}
.animated:hover .menu-nav:nth-child(2){
    opacity: 0;
}

.animated:hover .menu-nav:last-child{
    transform: rotate(-45deg);
}


@media (max-width:768px){

    .logo span{
        display: none;
    }

    .menu-social{
        display: none;
    }

    
}