@import url('style-general.css');

.section-proceso{
    align-items: center;
    display: flex;
    height: 100vh;
}

.container-process{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafo-process{
    margin-left: 100px;
}

.parrafo-process h2{
    font-family: var(--titulos);
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 100;
}

.img-process img{
    width: 650px;
    margin: auto;
}
.parrafo-process p{
    font-family: var(--parrafos);
    line-height: 30px;
}

@media (max-width:768px){
     
    .section-proceso{
        height: auto;
    }

    .container-process{
        flex-direction: column-reverse;
        text-align: center;
    }
    .parrafo-process{
        margin-top: 100px;
        margin-left: 0;
    }
    .img-process img{
        width: 350px;
    }
}

